@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

@import url("webfonts/grandslang-b-side-webfont.woff2");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111;
  font-family: "Syne", sans-serif;
  color: white;
  position: relative;
  margin: 1.5em;
  top: 75px;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
}

.video-head {
  top: 75px;
  left: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0px;
  column-gap: 0px;
}

h1 {
  font-family: "Syne ExtraBold";
  font-size: clamp(0.5em, 10em, 10em);
  line-height: 1em;
  color: white;
}

h2 {
  font-family: "Syne ExtraBold";
  font-size: 0.75em;
  line-height: 0.75em;
  color: white;
}

h4 {
  font-family: "Syne ExtraBold";
  font-size: 1em;
  color: white;
}

small {
  font-family: "GrandSlang B-Side";
  font-size: 1em;
  font-kerning: normal;
  color: #ffffff;
}

p {
  font-family: "Syne Medium";
  font-size: 1em;
  line-height: 1.25em;
  color: white;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 75px; /* CHANGE FOR RESPONSIVE */
}

header > * {
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav > .remote {
  float: left;
}

nav > .menu {
  float: right;
}

.logo {
  margin-left: 20px;
  margin-right: 20px;
}

.video-button {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

#showcase-video {
  width: 100%;
  height: auto;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;  
}

.work-projects {
  display: flex;
}